@using WebLab.Blazor.Data
<h3>FoodsList</h3>
@if (Foods == null)
{
    <p>Загрузка ...</p>
}
else
{ <div class="list-group">
    @{
        var i = 1;
        foreach (var food in Foods)
        {
          <button type="button" class="list-group-item list-group-item-action 
                  @(SelectedId == food.FoodId ? "active" : "")"
                  @onclick="@(e => Selected(e, food.FoodId))">
              @(i++) - @food.FoodName
          </button>}
    }
    </div>
}
@code {
    [Parameter]
    public IEnumerable<FoodListViewModel> Foods { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<FoodListViewModel>> FoodsChanged { get; set; }

    private int SelectedId = 0;
    [Parameter]
    public EventCallback<int> SelectedObjectChanged { get; set; }
    private void Selected(MouseEventArgs e, int id)
    {
        SelectedId = id;
        SelectedObjectChanged.InvokeAsync(id);
    }
}